ul {
    background-color: transparent;
    text-align: left;
    font-family: sans-serif;
}

#Creamy {
    background-color: rgb(126, 23, 23);
    color: palegoldenrod;
    font-weight: bolder;
}

#Tomato {
    background-color: palegoldenrod;
    color: rgb(126, 23, 23);
    font-weight: bolder;
}

